venv/

*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3

.idea/
*.sublime-project
*.sublime-workspace
.vscode/

.DS_Store
*.swp
*.bak
*.orig
*.mo

taxi/__init__.py
taxi/tests.py
taxi/views.py
taxi_service/__init__.py
taxi_service/asgi.py
taxi_service/wsgi.py
